dreamkiller/config.py
dreamkiller/*.session
dreamkiller/*.session-journal
dreamkiller/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
dreamkiller/modules/helper_funcs/temp.txt
dreamkiller/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
dreamkiller.session-journal
updates.txt
*.exe
